= render partial: "layouts/top_content"
.container.proto-list
  .row
    = render partial: "prototypes/prototype", collection: @prototypes

.text-center
  %ul.pagination
    %li.disabled
      = paginate(@prototypes)

